<div class="Main">
    <div class="hero">
        <div class="overlay">
            <div class="content">
                <h1>Find your dream study</h1>
                <p>Discover thousands of Master's degrees worldwide!</p>
            </div>
        </div>
    </div>
    <div class="WhiteBackgroundPane">
        <div class="steps-container">
            <div class="step" >
                <div class="icon"><i class="fa-solid fa-globe"></i></div>
                <h3>Explore</h3>
                <p>You can browse more than 90,000 Master’s programmes from all over the world.</p>
            </div>
            <div class="step" >
                <div class="icon"><i class="fa-solid fa-code-compare"></i></div>
                <h3>Compare</h3>
                <p>Make a wishlist of your favourite programmes, check your fit with them.</p>
            </div>
            <div class="step" >
                <div class="icon"><i class="fa-solid fa-fire"></i></div>
                <h3>Decide</h3>
                <p>Now that you have your top programmes shortlisted, you can pick the ones that fit you the best.</p>
            </div>
            <div class="step" >
                <div class="icon"><i class="fa-solid fa-paper-plane"></i></div>
                <h3>Apply</h3>
                <p>When you feel confident about your programme choice, you can apply.</p>
            </div>
        </div>
    </div>

    <div class="WhiteBackgroundPane">
        <div class="container">
            <h2>Browse by Discipline</h2>
            <div class="grid">
                <div class="card">
                    <div class="icon"><i class="fas fa-tree mr-2"></i></div>
                    <p>Agriculture & Forestry</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-flask mr-2"></i></div>
                    <p>Applied Sciences & Professions</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-paint-brush mr-2"></i></div>
                    <p>Arts, Design & Architecture</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-briefcase mr-2"></i></div>
                    <p>Business & Management</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-laptop-code mr-2"></i></div>
                    <p>Computer Science & IT</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-chalkboard-teacher mr-2"></i></div>
                    <p>Education & Training</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-cogs mr-2"></i></div>
                    <p>Engineering & Technology</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-leaf mr-2"></i></div>
                    <p>Environmental Studies & Earth Sciences</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-glass-cheers mr-2"></i></div>
                    <p>Hospitality, Leisure & Sports</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-book mr-2"></i></div>
                    <p>Humanities</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-glass-cheers mr-2"></i></div>
                    <p>Journalism & Media</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-scale-balanced"></i></div>
                    <p>Law</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-heartbeat mr-2"></i></div>
                    <p>Medicine & Health</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-calculator mr-2"></i></div>
                    <p>Natural Sciences & Mathematics</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-users mr-2"></i></div>
                    <p>Social Sciences</p>
                </div>
            </div>
        </div>
    </div>
</div>