<div class="Main">
    <div class="hero">
        <div class="overlay">
            <div class="content">
                <h1>Tìm kiếm chương trình học mơ ước của bạn</h1>
                <p>Khám phá hàng nghìn chương trình Thạc sĩ trên toàn thế giới!</p>
            </div>
        </div>
    </div>

    <div class="WhiteBackgroundPane">
        <div class="steps-container">
            <div class="step">
                <div class="icon"><i class="fa-solid fa-globe"></i></div>
                <h3>Khám phá</h3>
                <p>Bạn có thể duyệt qua hơn 90.000 chương trình Thạc sĩ từ khắp nơi trên thế giới.</p>
            </div>
            <div class="step">
                <div class="icon"><i class="fa-solid fa-code-compare"></i></div>
                <h3>So sánh</h3>
                <p>Tạo danh sách mong muốn các chương trình yêu thích và kiểm tra mức độ phù hợp với bạn.</p>
            </div>
            <div class="step">
                <div class="icon"><i class="fa-solid fa-fire"></i></div>
                <h3>Quyết định</h3>
                <p>Giờ đây bạn đã có danh sách các chương trình hàng đầu, khám phá ngay hôm nay.</p>
            </div>
            <div class="step">
                <div class="icon"><i class="fa-solid fa-paper-plane"></i></div>
                <h3>Nộp đơn</h3>
                <p>Khi bạn đã tự tin với lựa chọn chương trình của mình, hãy tiến hành nộp đơn.</p>
            </div>
        </div>
    </div>

    <div class="WhiteBackgroundPane">
        <div class="container">
            <h2>Duyệt theo ngành học</h2>
            <div class="grid">
                <div class="card">
                    <div class="icon"><i class="fas fa-tree mr-2"></i></div>
                    <p>Nông nghiệp & Lâm nghiệp</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-flask mr-2"></i></div>
                    <p>Khoa học ứng dụng & Nghề nghiệp</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-paint-brush mr-2"></i></div>
                    <p>Ngành Nghệ thuật, Thiết kế & Kiến trúc</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-briefcase mr-2"></i></div>
                    <p>Kinh doanh & Quản lý</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-laptop-code mr-2"></i></div>
                    <p>Khoa học Máy tính & CNTT</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-chalkboard-teacher mr-2"></i></div>
                    <p>Giáo dục & Đào tạo</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-cogs mr-2"></i></div>
                    <p>Kỹ thuật & Công nghệ</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-leaf mr-2"></i></div>
                    <p>Ngành Môi trường & Khoa học Trái Đất</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-glass-cheers mr-2"></i></div>
                    <p>Du lịch, Giải trí & Thể thao</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-book mr-2"></i></div>
                    <p>Nhân văn</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-glass-cheers mr-2"></i></div>
                    <p>Báo chí & Truyền thông</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fa-solid fa-scale-balanced"></i></div>
                    <p>Luật</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-heartbeat mr-2"></i></div>
                    <p>Y học & Sức khỏe</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-calculator mr-2"></i></div>
                    <p>Khoa học Tự nhiên & Toán học</p>
                </div>
                <div class="card">
                    <div class="icon"><i class="fas fa-users mr-2"></i></div>
                    <p>Khoa học Xã hội</p>
                </div>
            </div>
        </div>
    </div>
</div>
