<header id="NavBar">
    <div class="SearchRowColBlock">
      <div class="Brand" (click)="homeNav()">
        <img src="//monet-prtl-co.imgix.net/Masters/LogoMastersPortalTransparent.svg" alt="MastersPortal"
          id="PortalLogo" width="150" height="60" />
      </div>
      <div class="Module">
        <ul class="MainMenuSections">
          <li class="SectionNavigationItem">
            <a (click)="universityNav()">
              <i class="fa-solid fa-school mr-2"></i>
              <span class="SectionNavigationLabel">University</span>
            </a>
          </li>
          <li class="SectionNavigationItem">
            <a (click)="scholarshipsNav()">
              <i class="fa-solid fa-paper-plane mr-2"></i>
              <span class="SectionNavigationLabel">Scholarship</span>
            </a>
          </li>
        </ul>
      </div>
      <div class="HeaderSearch">
        <div id="HeaderSearch">
          <input class="InputWrapper" type="text" placeholder="What to study?" />
          <input class="InputWrapper" type="text" placeholder="Where to study?" />
          <button class="SearchButton">
            <i class="fa-solid fa-magnifying-glass"></i>
          </button>
        </div>
      </div>
      <div class="AccountModule">
        <button id="LoggedInToggle">
          <i class="fa-solid fa-user"></i>
          <span class="LoggedInUserText">User</span>
        </button>
      </div>
    </div>
  </header>
<router-outlet></router-outlet>